@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* Hero Banner */
.hero-banner {
    background: url(assets/images/HeroBanner.png) rgb(96, 96, 96, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.hero-banner__heading {
    font-family: 'Georgia', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.hero-banner__subhead {
    font-family: 'Georgia', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: white;
    width: 50%;
}

.button {
    background: #D0B979;
    border: none;
    color: white;
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    font-weight: 400;
}


/* About */

.about__container {
    align-items: center;
}

.about__colwrapper {
    width: 50%;
    height: 100%;
    padding: 2em;
}

.about__col2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__head {
    font-family: 'Georgia', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 42.24px;
    color: #3E3D3F;
    ;
}

.about__desc {
    font-family: 'Georgia', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 20px;
    color: #747474;
}

.about__img-desc {
    text-align: center;
    background-color: #036F33;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: white;
    padding: 10px 0;
}

/* end of About */

/* Project */
.project {
    padding: 7em;
}

.project__head {
    font-family: 'Georgia', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #3E3D3F;
}

.button--project {
    background: #D0B979;
    border: none;
    color: white;
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.w3-red,
.w3-hover-red:hover {
    border-style: solid !important;
    border-width: 0px 0px 2px 0px;
    border-color: black;
    border-radius: 0px;
}

.project__tab-button {
    background-color: white;
    border-style: none;
    font-family: 'Georgia', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.col-img-wrap {
    column-gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.tab__img {
    width: 33.333%;
}

.tabs-container {
    padding: 3em 0em;
}

/* end of Project */

/* Events */
.events {
    background-image: url("assets/images/eventsbg.png");
    background-size: cover;
}

.events__col-wrap {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: white;
}

.events__head {
    font-family: 'Georgia', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.events__desc {
    font-family: 'Georgia', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 2em;
}

.events-list-container {
    column-gap: 50px;
    padding: 20px 0;
}

.events-list-head {
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.events-list {
    font-family: 'Georgia', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

/* end of Events */


/* map section */
.col-sec--map {
    width: 50%;
    padding: 7em;
}

.map__navigation {
    padding: 0px;

    & li {
        display: flex;
        list-style-type: none;
        border-color: transparent;
        color: white;
    }

    & ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        column-gap: 30px;
        justify-content: start;
        margin: 0px;
        padding: 30px 0px 30px 0px;
    }

    & a {
        color: white;
        text-decoration: none;
    }
}

.map__logo {
    width: 40%;
}

.map__location-col2 {
    width: 50%;
    padding: 0 3em;
}

.map__heading {
    font-family: 'Georgia', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 31px;
    color: #3E3D3F;
    ;
    width: 70%;
    padding: 20px 0;
}

.map__description {
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #747474;
}

.map__credits {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #D9D9D9;
}

.map__credits-copy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #D9D9D9;
    display: none;
}

iframe.location__iframe {
    width: 100%;
    height: 100%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


/* end of map section */


// --------------------------------------------------------------------------------------------------------//
//                                          SCREEN SIZE FOR TABLET  (768px)                                //
// --------------------------------------------------------------------------------------------------------//

@media only screen and (max-width: 768px) {

    /* Hero Banner */
    .hero-banner {
        display: flex;
        flex-direction: column;
    }

    .hero-banner .col-sec {
        padding: 2em;
    }

    .hero-banner__heading {
        width: 100%;
    }

    .hero-banner__col2 {
        width: 100%;
    }

    /* end of Hero Banner */

    /* About */
    .about .col-sec {
        padding: 1em;
    }

    .about__img {
        width: 100%;
    }

    .about__container {
        display: flex;
        flex-direction: column;
    }

    .about__img-wrap {
        width: 100%;
    }

    .about__colwrapper {
        width: 100%;
    }

    /* end of about Banner */


    /* Projects */
    .tab__img {
        width: 30%;
    }

    /* end of Projects*/

    /* Map */

    .map-container {
        display: flex;
        flex-direction: column-reverse;
        padding: 2em;
    }

    .col-sec--map {
        width: 100%;
        padding: 2em;
    }

    .map__location-col2 {
        width: 100%;
    }

    iframe.location__iframe {
        width: 100%;
        height: 400px;
    }

    .map__container-nav-description {
        display: flex;
        flex-direction: column-reverse;
    }

    .map__credits-copy {
        display: block;
        text-align: center;
    }

    .map__credits {
        display: none;
    }

    .map__info-col1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .map__navigation {
        padding: 0px;

        & li {
            padding: 10px;
        }

        & ul {
            flex-direction: column;
            align-items: center;
        }

        & a {
            color: white;
            text-decoration: none;
        }
    }

    /* end of Map */
}

// --------------------------------------------------------------------------------------------------------//
//                                          SCREEN SIZE FOR MOBILE  (425px)                                //
// --------------------------------------------------------------------------------------------------------//

@media only screen and (max-width: 425px) {
    .hero-banner {
        padding: 1em;
    }

    .hero-banner__heading {
        font-size: 28px;
    }

    .hero-banner__subhead {
        width: 100%;
        line-height: 20px;
    }

    /* About */

    .about__head {
        font-size: 30px;
        text-align: center;
        line-height: 36px;
    }

    .about__desc {
        text-align: center;
    }

    /* end of About */

    /* Projects */
    .project {
        padding: 2em;
    }

    .col-img-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .tab__img {
        width: 100%;
        margin-bottom: 2em;
    }

    .tabs-container {
        padding: 0em;
    }

    .project-tabs {
        margin-bottom: 2em;
    }

    /* end of Projects */

    /* Events */
    .events .col-sec {
        padding: 2em;
    }

    .events-list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* end of Events */


    /* Map */
    .map__logo {
        width: 80%;
    }

    .map__heading {
        font-size: 28px;
    }

    .map__location-col2 {
        padding: 0em;
    }

    .map-container {
        padding: 2em;
    }

    /* end of Map */

}